body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 750px;
  max-width: 90%;
  padding: 30px 30px 60px;
  text-align: center;
  border-bottom: 5px solid #3b82f6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -5px 10px 5px;
}

.status {
  background-color: #e0fce0;
  color: #059669;
  font-weight: 600;
  font-size: 0.95rem;
  padding: 6px 14px;
  border-radius: 10px;
}

.more-icon {
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.logo {
  width: 70px;
  margin: 60px auto 15px;
}

h2 {
  font-size: 1.6rem;
  margin: -5px 0 15px;
  color: #111827;
}

.subtitle {
  color: #000;
  font-size: 1.2rem;
  margin: -10px 0 42px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.stat {
  border: 2px dashed #d1d5db;
  border-radius: 8px;
  padding: 10px 15px;
  width: 80px;
  text-align: left;
}

.stat h3 {
  margin: 0;
  color: #111827;
  font-size: 1.3rem;
  font-weight: 700;
}

.stat p {
  color: #000;
  font-size: 1.1rem;
  margin: 6px 0 0;
}
